@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy";
  src: url("../public/Gilroy-FREE/Gilroy-Light.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/Gilroy-FREE/Gilroy-ExtraBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../public/Gilroy-FREE/Gilroy-Light.ttf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../public/Gilroy-FREE/Gilroy-Medium.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
